@font-face {
    font-family: 'Inter';
    src: url('@public/Inter.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@public/Roboto.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('@public/Rubik.ttf');
    font-weight: normal;
    font-style: normal;
}
