@font-face {
    font-family: 'Inter';
    src: url('/Inter.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/Rubik.ttf');
    font-weight: normal;
    font-style: normal;
}
